# node dependencies
node_modules

# R build files
.Rhistory
# Book build output
#_book
*.aux
*.log
*.fdb
*.fdb_latexmk

# build stuff
build/img/*

# eBook build output
#*.epub
#*.mobi
#*.pdf
# System files
.DS_Store
.Rproj.user
packrat/lib*/
packrat/src/

# editor backups
*~
